<div class="table-responsive">
<table class="ciao table-sm mb-4">
  <thead class="rounded-1">
    <tr class="text-center">
      @for (col of columns; track col) {
      <th class="py-2 px-lg-5 text-nowrap">{{ col.label }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of paginatedRows; track $index) {
      <tr class="text-center" [ngClass]="{'table-row-disabled': !row}">
          @for (col of columns; track col) {
            @let value = row[col.key];
            @switch (col.type) {
              @case('date') {
                <ng-container *ngTemplateOutlet="valueTemplate; context: { $implicit: $any(value) | date: 'dd-MM-yyyy' }" />
              }
              @case('button') {
                <ng-container *ngTemplateOutlet="buttonTemplate; context: { $implicit: $any(value), row: row }" />
              }
              @default {
                <ng-container *ngTemplateOutlet="valueTemplate; context: { $implicit: value  }" />
            }
          }
        }
      </tr>
    }
  </tbody>
</table>
</div>
<!-- PAGINATION -->
<div class="mt-4" *ngIf="totalPages > 1">
  <nav>
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="goToPreviousPage()" [disabled]="currentPage === 1">«</button>
      </li>
      <li *ngFor="let page of visiblePages" class="page-item" [class.active]="currentPage === page">
        <button class="page-link" (click)="goToPage(page)">{{ page }}</button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="goToNextPage()" [disabled]="currentPage === totalPages">»</button>
      </li>
    </ul>
  </nav>
</div>




<ng-template #valueTemplate let-value>
  <td class="py-2 px-lg-4 text-nowrap">{{ value }}</td>
</ng-template>


<ng-template #buttonTemplate let-buttons let-row="row">
  <td class="py-2 px-lg-5  text-nowrap">
    @if (buttons?.length > 0) {
      @for (btn of buttons; track btn) {
        @if (btn.link) {
          <button
            class="btn btn-sm me-2"
            [ngClass]="btn.icon === 'bi bi-person-dash' && !row.enabled ? 'btn-outline-danger' : 'btn-outline-primary'"
            [routerLink]="[btn.link]"
          >
            <i [class]="btn.icon"></i>
          </button>
        } @else {
          <button
            class="btn btn-sm me-2"
            [ngClass]="btn.icon === 'bi bi-person-dash' && !row.enabled ? 'btn-outline-danger' : 'btn-outline-primary'"
            (click)="btn.action?.()"
          >
            <i [class]="btn.icon"></i>
          </button>
        }
      }
    }
  </td>
</ng-template>
