<div class="table-responsive">
<table class=" table-sm">
  <thead class="bg-secondary">
    <tr class="text-center">
      @for (col of columns; track col) {
      <th class="py-2 px-lg-5 px-lg-3 border-2 text-nowrap">{{ col.label }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of paginatedRows; track $index) {
      <tr class="text-center">
          @for (col of columns; track col) {
            @let value = row[col.key];
            @switch (col.type) {
              @case('date') {
                <ng-container *ngTemplateOutlet="valueTemplate; context: { $implicit: $any(value) | date: 'dd-MM-yyyy' }" />
              }
              @case('button') {
                <ng-container *ngTemplateOutlet="buttonTemplate; context: { $implicit: $any(value)}" />
              }
              @default {
                <ng-container *ngTemplateOutlet="valueTemplate; context: { $implicit: value  }" />
            }
          }
        }
      </tr>
    }
  </tbody>
</table>
<div class="mt-4" *ngIf="totalPages > 1">
  <nav>
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="goToPreviousPage()" [disabled]="currentPage === 1">«</button>
      </li>
      @for (i of pageNumbers; track i) {
      <li class="page-item" [class.active]="currentPage === i">
        <button class="page-link" (click)="goToPage(i)">{{ i }}</button>
      </li>
      }
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="goToNextPage()" [disabled]="currentPage === totalPages">»</button>
      </li>
    </ul>
  </nav>
</div>
</div>


<!-- PAGINATION -->

<ng-template #valueTemplate let-value>
  <td class="py-2 px-lg-5 px-lg-3 border-2 text-nowrap">{{ value }}</td>
</ng-template>


<ng-template #buttonTemplate let-value>
  <td class="py-2 px-lg-5 px-lg-3 border-2 text-nowrap">
    @if (value?.length > 0) {
      @for (btn of value; track btn) {
        @if (btn.link) {
          <button
            class="btn btn-sm btn-outline-primary me-2"
            [routerLink]="[btn.link]"
            routerLinkActive="router-link-active"
          >
            <i [class]="btn.icon"></i>
          </button>
        } @else {
          <button
            class="btn btn-sm btn-outline-primary me-2"
            (click)="btn.action?.()"
          >
            <i [class]="btn.icon"></i>
          </button>
        }
      }
    }
  </td>
</ng-template>