<div class="container d-flex flex-column align-items-center">
    <div class="row mt-3">
        <div class="col-12">
            <h1>GESTIONE DIPENDENTI</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-center">
            <div class="table-responsive">
                <app-table [columns]="columns" [rows]="rows" family="user"></app-table>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 mt-2 d-flex justify-content-between">
            <button [routerLink]="['/dashboard']" class="btn btn-primary shadow-lg">Indietro</button>
            <button [routerLink]="['/dashboard/user-form']" class="btn btn-primary shadow-lg">Aggiungi dipendente</button>
        </div>
    </div>
</div>
