@let controls = loginFormGroup.controls;
<div class="background">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-12">
                <h2 class="text-center mb-5 text-white">ACCEDI</h2>
                <form [formGroup]="loginFormGroup" (ngSubmit)="onLogin()" class ="text-white">
                    <app-text id="email" label="Email" type="email" placeholder="Email" formControlName="email" [control]="controls['email']" />
                    <app-text id="password" label="Password" type="password" placeholder="Password" formControlName="password" [control]="controls['password']"/>
                    <button type="submit" class="btn btn-success mt-3">Accedi</button>
                  </form>
            </div>
        </div>
    </div>
</div>