<div class="container">
    <div class="row">
      <h1 class="text-center my-5"> BENVENUTO USER </h1>
        <div class="col-lg-6 col-12">
          <h2 class="text-center mt-lg-3 mb-5 pe-none">TIMBRA</h2>                 
            <form class="d-flex flex-column bg-secondary bg-opacity-50 p-3 rounded-2"> 
                  <mat-form-field class="my-3">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <mat-radio-group aria-label="Select an option" class="my-3">
                    <mat-radio-button value="1">Ingresso</mat-radio-button>
                    <mat-radio-button value="2">Uscita</mat-radio-button>
                  </mat-radio-group>
                  <button type="button" class="btn btn-success my-3">Timbra</button>
            </form>
        </div>
        <div class="col-lg-6 col-12 d-flex flex-column">
          <h2 class="text-center mt-lg-3 mt-5 mb-5 pe-none">STORICO</h2>                 
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>