<h1 class="ps-3 mb-4 d-flex justify-content-center my-5 text-center">STORICO COMPLETO DEI DIPENDENTI</h1>
<div class="container-fluid">
    <div class="row mt-4" style="width: 100%;">
        <div class="col-lg-3 col-12">
            <app-filter [typeOptions]="['entrata', 'uscita']" [initialFilters]="currentFilters"
                (filtersChanged)="onFiltersChanged($event)"></app-filter>
        </div>
        <div class="col-lg-9 col-12">
            <app-table [columns]="columns" [rows]="rows" [filters]="currentFilters" family="stamp"></app-table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-2 d-flex justify-content-start">
            <button [routerLink]="['/dashboard']" class="btn btn-primary shadow-lg mb-3">Indietro</button>
        </div>
    </div>
</div>