<h1 class="text-center my-5">DETTAGLIO DIPENDENTE</h1> 
<div class="container">
    <div class="row bg-transparent rounded-4 shadow-lg p-4">
        <div class="col-lg-6 col-12 my-4 my-md-0 d-flex justify-content-center align-itme">
            <img src="https://picsum.photos/200" alt="immagine profilo" class="img-fluid rounded-circle mb-4" />
        </div>
        <div class="col-lg-6 col-12">
            <p><strong>Id:</strong> {{ user.id }}</p>
            <p><strong>Nome:</strong> {{ user.name }}</p>
            <p><strong>Cognome:</strong> {{ user.surname }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Ruolo:</strong> {{ user.role }}</p>
            <p><strong>Reparto:</strong> {{ user.department }}</p>
        </div>
        
    </div>
    <button [routerLink]="[]" routerLinkActive="router-link-active"  class="btn btn-primary mt-4 shadow-lg">Indietro</button>
 </div>