<div class="container">
  <div class="row mt-5 bg-light rounded-4 shadow-lg p-4 border border-1 border-opacity-25 border-white">
    <h1 class="text-center mb-5">DETTAGLIO DIPENDENTE</h1>

    <div class="col-lg-6 col-12 my-4 d-flex justify-content-center align-items-center">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="immagine profilo"
        class="img-fluid rounded-circle shadow border border-3 border-white" style="max-width: 200px;" />
    </div>

    @if(user) {
    <div class="col-lg-6 col-12 d-flex flex-column justify-content-center">
      <div class="bg-opacity-75 p-3 rounded-3 shadow-sm">
        <p class="mb-2"><strong>Id:</strong> {{ user.id }}</p>
        <p class="mb-2"><strong>Nome:</strong> {{ user.name }}</p>
        <p class="mb-2"><strong>Cognome:</strong> {{ user.surname }}</p>
        <p class="mb-2"><strong>Email:</strong> {{ user.email }}</p>
        <p class="mb-2"><strong>Ruolo:</strong> {{ user.role }}</p>
        <p class="mb-0"><strong>Reparto:</strong> {{ user.department }}</p>
      </div>
    </div>
    }

    <div class="text-start">
      <button [routerLink]="['/dashboard/team-management']" class="btn btn-primary mt-4 shadow px-4"> Indietro </button>
    </div>
  </div>

</div>