.filter-custom {
    background-color: #E9ECEF;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  
    thead {
      background-color: #0D6EFD;
      border-radius: 10px !important;
      color: white;
    }
  }
  