<div class="container mt-5">
  <h1 class="text-center mb-5">
    CIAO, {{ logService.getUsername()?.toUpperCase() }}
  </h1>
  <div class="row">
    @for (item of items(); track $index) {
      <div class="col-md-3 mb-4">
        <app-card>
          <div title>{{ item.title }}</div>
          <div text>{{ item.text }}</div>
          <a action [routerLink]="[item.link]" routerLinkActive="router-link-active"  class="btn btn-primary">{{ item.action }}</a>
        </app-card>
      </div>
    }
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <button class="btn btn-primary mb-4" (click)="loadData()"> RELOAD</button>
    </div>
  </div>
  <div class="row">
    <h3 class="text-center my-4">TIMBRATURE RECENTI</h3>
    <div class="col-12 mb-5">
      <app-table [columns]="columns" [rows]="rows()"></app-table>
    </div>
  </div>
</div>