<div class="container mt-5">
  <h3 class="text-center mb-5">
    CIAO, {{ logService.getUsername()?.toUpperCase() }}
  </h3>
  <div class="row">
    @for (item of items(); track item.title) {
      <div class="col-md-3 mb-4">
        <app-card>
          <div title>{{ item.title }}</div>
          <div text>{{ item.text }}</div>
          <a action class="btn btn-primary">{{ item.action }}</a>
        </app-card>
      </div>
    }
  </div>
</div>

<button (click)="loadData()"> UPDATE</button>

<app-table [columns]="columns" [rows]="rows()"></app-table>

