
<div class="mb-3">
    @if (label) {
      <label [for]="id" class="form-label">{{ label }}</label>
    }
  
    <input
      [type]="type"
      class="form-control"
      [attr.placeholder]="control?.touched && control?.errors?.['required'] ? 'Il campo è obbligatorio' : placeholder"
      [disabled]="disabled"
      [attr.id]="id"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onTouched()"
      [class.is-valid]="control && control.touched && control.valid"
      [class.is-invalid]="control && control.touched && control.invalid"
    /> 
    
   <!-- @if (control?.errors?.['required'] && control?.touched)  {
     <p class="text-danger"> Il campo è obbligatorio. </p>
   } -->
       
  </div>

 